/* This is the CSS file for index.html */
body{
    /* RESET ALL MARGINS! */
    margin:0; 
    padding:0;
    /* Background colors ? */
    background:linear-gradient(to top, crimson, firebrick);
    /* Text styles */
    font-family: Georgia, serif;
    color:white;
    -webkit-text-stroke:1px black;
}
/* NAV! IGNORE! */
.grandpa {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    margin-bottom:10px;
}
.grandpa, .dad {
    float: left;
}
.son{
    font-weight:bold;
}
.grandpa, .dad, .son {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.grandpa, .dad, .son:hover {
    background-color:grey;
}