/* This is the CSS file for index.html */
body{
    /* RESET ALL MARGINS! */
    margin:0; 
    padding:0;
    /* Background colors ? */
    background-color: firebrick;
    /* Text styles */
    font-family: comic sans ms;
    color:white;
    -webkit-text-stroke:0.65px white;
}
/* NO MORE SCROLLBARS!!! */
body::-webkit-scrollbar {
  display: none;
}
body {
  scrollbar-width: none;
}
article{
    background-color: white;
    padding:7px;
    margin:20px
}